In [1]:
# libraries 
import time
import random
import requests
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date

In [2]:
# save the link to the website 
url = "https://covidtracking.com/data/national/chart-tables"

# scrape the web content 
raw = requests.get(url)

# check the connection 
raw.status_code

200

In [3]:
# generate a temporary table 
tables = pd.read_html(raw.text)

# generate the dataframe
covid = tables[0]

In [4]:
# extract the newcases dataframe 
newcases = tables[1]

# rename the column 
newcases.rename(columns = {'Value':'new_case'}, inplace = True)

In [5]:
# extract the newdeath dataframe 
newdeath = tables[3]

# rename the column 
newdeath.rename(columns = {'Value':'new_death'}, inplace = True)

In [6]:
# merge 
covid = newcases.merge(newdeath, how = 'inner', on = 'Date')

In [7]:
# filter out useless columns 
covid = covid[['Date','new_case','new_death']]
covid

            Date  new_case  new_death
0    Dec 16 2020    230728       3400
1    Dec 15 2020    190865       2971
2    Dec 14 2020    193384       1358
3    Dec 13 2020    187754       1494
4    Dec 12 2020    225196       2494
..           ...       ...        ...
325  Jan 26 2020         0          0
326  Jan 25 2020         0          0
327  Jan 24 2020         0          0
328  Jan 23 2020         0          0
329  Jan 22 2020         0          0

[330 rows x 3 columns]

In [8]:
# create an empty list for data 
date = []

# iterate over the column 
for i in range(len(covid['Date'])):
    # change to datetime 
    datetime_object = datetime.strptime(covid['Date'][i], "%b %d %Y").date()
    date.append(datetime_object)

# change the values 
covid['Date'] = date

In [9]:
covid

           Date  new_case  new_death
0    2020-12-16    230728       3400
1    2020-12-15    190865       2971
2    2020-12-14    193384       1358
3    2020-12-13    187754       1494
4    2020-12-12    225196       2494
..          ...       ...        ...
325  2020-01-26         0          0
326  2020-01-25         0          0
327  2020-01-24         0          0
328  2020-01-23         0          0
329  2020-01-22         0          0

[330 rows x 3 columns]

In [10]:
# save to csv file 
covid.to_csv('covid.csv', index = False)